<connectionStrings>
  <!--Local-->
  <add name="myDB" providerName="System.Data.SqlClient" connectionString="Server=LENOVOG580;Database=SREWT;Integrated Security=True;" />

  <!--Zaven-->
  <!--<add name="myDB" providerName="System.Data.SqlClient" connectionString="Server='localhost\SQLEXPRESS01';Database=SREWT;Integrated Security=True;" />-->
</connectionStrings>